
.mem-game-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	}

.instructions {
	font-size: 1.5em;
	}

.boxesContainer {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	justify-content: center;
	column-gap: 0.5rem;
	row-gap: 0.5rem;
	align-items: center;
	margin-left: 1rem;
	margin-right: 1rem;
	/* Allow container re-size to adjust rows & columns to easier layout
	 * Doesn't work, switched to display: grid;
	 */
	/*	resize: both;	*/
	}

.box {
	justify-self: center;
	width: 100%;
/*	width: clamp(10vw, 150px, 33vw);	*/
	height: clamp(10vw, 150px, 33vw);
	/* cornflowerblue & darkgoldenrod are lovely colours,
	 * but too wide for the box:
	overflow: clip;
	 */
	box-sizing: border-box;
	border-radius: 20px;
	box-shadow: 5px 5px 5px inset silver, -5px -5px 5px inset slateblue;
	cursor: pointer;
	}

.solved {
/*
	box-shadow: 5px 5px 5px inset silver, -5px -5px 5px inset  gray;
*/
	hyphens: auto;
	}
.solved > p + p {
	opacity: 0;
/*	display: none; */
	}

.box p {
	text-align: center;
	margin-top: 2em;
/*
	display: none;
*/
	opacity: 0;
	/* Allow clicks on <p> inside box to activate box colour toggle (?) */
	pointer-events: none;
	}
.solved p {
	display: block;
	padding-top: 1rem;

	padding-left: .5rem;
	padding-right: .5rem;

	font-size: 1.15em;
	opacity: 1;
	}

p.counter, p.new-game {
	margin-bottom: 0;
	font-size: 2rem;
	/* Chrome p gets default value of 1rem */
	margin-block-start: 0.5rem;
	}
a {
	text-decoration-line: none;
	}









/*
------------------------------------------------------------------------------
Responsive design
------------------------------------------------------------------------------
*/

@media screen and (max-width: 1400px) {

	.boxesContainer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		align-items: center;
		box-sizing: border-box;
		padding: 0.5em;
		}

	.box {
		justify-self: center;
		text-align: center;
		font-size: .5rem;
		border-radius: 25px;
		padding:5px;
		margin: 0 5px 0 5px;

		width: 100%;
/*
		height: 100%;
		width: clamp(20vw, 100px, 33vw);
*/
		height: clamp(15vw, 100px, 33vw);
		}
	.box > p + p {
		/* Show number inside unsolved boxes to aid tracking long
			columns or rows on mobile */
		opacity: 1;
		font-size: 2rem;
		font-family: hack-regular;
		/* Center number better */
		margin-top: -1rem;
		}
	.solved p {
		font-size: 1rem;
		font-family: hack-regular;
		margin: 1rem 0 0 0;
		padding: 1rem .5rem 1rem .5rem;
		}
	/* Hide number inside box (id) when solved (show colour name instead) */
	.solved > p + p {
		opacity: 0;
		}

	.instructions {
		font-size: 1em;
		margin: 0 1em 0 1em;
		}

/*
	p.counter, p.new-game {
		font-size: 1.25rem;
		margin: .25rem 1rem .5rem 1rem;
		flex-grow: 0;
		}
	p.new-game {
		font-size: 1.5rem;
		}
*/
 	}

