
/* Main container in all apps, contains header, game, and footer */
.App {
	display: flex;
	flex-direction: column;
  text-align: center;
	/* Leave room for "sticky" header & footer: */
	margin-top: calc(16px*2 + 39px);
	margin-bottom: calc(16px*2 + 24px);
	/*
		Set a minimum height of screen height minus ~(header+footer).
		Allows About (i.e.) to fill screen without scroll bars.
	*/
	min-height: calc(100vh - (16px*2 + 39px) - (16px*2 + 24px) );
	width: 100%;
	}

h1, h2 {
	text-align: center;
	}

.App-header, .about {
	flex-grow: 100;
	text-align: left;
  color: white;
	background-color: hsl( 222, 25%, 25%);
/*
  background-color: #222;
  height: 150px;
	height: 100%;
*/
	border-radius: 10px;
  padding: 20px;
	box-sizing: border-box;
}
.about img {
	box-shadow: none;
	display: block;
	margin: auto;
	}
.about p {
	font-size: large;
	}
ul.about {
	margin: 0;
	padding: 0 0 0 1rem;
	}
.about ul li {
	list-style: circle;
	line-height: 2.5rem;
	}
.about ul li:nth-of-type(odd) {
	background-color: hsl( 222, 25%, 25%);
	font-size: large;
	}

/* Remove underlines from links in header, nav, New Game, etc. */
a {
	text-decoration: none;
	}


.App-intro {
  font-size: large;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
	text-align: center;
  height: 80px;
	display: block;
	margin: auto;
	}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
	}
