
.flag-game {
	display: flex;
	flex-direction: column;
	column-gap: 2rem;
	row-gap: 2rem;

	margin-top: 1rem;
	}


/* STUPID name, re-factor! */
/* Fixed quickly with React.Fragment, since temp2 was just to avoid
	adjacent items in the return()
*/
/*
.temp2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 2rem;
	margin-top: 1rem;
	}
*/

.country-list-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 10;
	order: 20;
	justify-content: space-around;

	padding: .5rem;
	align-items: center;
	column-gap: 1rem;
	row-gap: 1rem;
	/* helpful when having to scroll horizontally to view whole flag: */
/*
	position: sticky;
	left: .25rem;
*/
	}

.country-list {
	flex-grow: 1;
	font-size: 3rem;
	cursor: pointer;
	border-radius: 10px;
	background: hsl(321, 30%, 80%);
	box-shadow: 0px 0px 10px gray;
	}

/* pre-render but hide via transparency: */
.country-list::after {
/*
	box-shadow: 1px 1px 10px 10px yellow inset;

	opacity: 0;
	transition: all .5s ease-in-out;
*/
	}

.country-list:hover, .country-list:focus {
	transition: all .5s ease-in-out;
	opacity: 0.75;

	box-shadow: 0px 0px 10px 5px cornflowerblue
;
/*
	border: 1px solid red;
*/
	}

.country-list:hover::after {
	box-shadow: 1px 1px 10px 10px gray inset;
	opacity: 0;
	transition: opacity 1.0s ease-in-out;
/*
	Does not work, use :hover & :focus
	border: 2px solid red;
*/
	}
.correct {
	background: green;
	}
.wrong {
	background: red;
	}

/* Nepal, for example, requires max-height */
.flag {
	flex-grow: 1;
	order: 2;
	margin: auto;
/*
	text-align: center;
	padding-top: 1rem;
*/
	box-sizing: border-box;
	}
img {
	box-shadow: -0px 0px 10px 10px gray;
	max-height: 60vh;
	margin-top: 0;
	box-sizing: border-box;
	max-width: 95vw;
	}

li {
	list-style: none;
	}

.new-game {
	order: 100;
	font-size: 2.5rem;
	text-align: center;
	width: 100%;
	opacity: 1;
	transition: all 2s ease-in-out;
	}


/* More info about: ${country-name} gets larger font: */
.more-info:first-line {
	font-size: 2rem;
	}
.more-info {
	font-size: 1.5rem;
	margin-top: 1rem;
	}
.more-info {
	margin-top: 1rem;
	padding: 1rem 0 3rem 0;
	font-size: 1.5rem;
	background: cornflowerblue;
	}
.more-info ul {
	/* Even without ::marker, padding pushes off-centre: remove padding: */
	padding-left: 0;
	}
/* Zebra striping (subtle!) on "more about" facts list */
/* WHY is TodoList over-riding these, when it SEEMS (to me) to have
	less specificity?

	Here's its selector:
	.App ul li:nth-of-type(2n+1)

	ANSWER(?): Todo was imported in App.js AFTER this, so equal specificity
	means last one over-rides first one.
*/
.more-info ul li:nth-of-type(odd)
	{
	background: hsl( 222, 50%, 90%);
	}
.more-info ul li:nth-of-type(even) {
	background: hsl( 222, 90%, 90%);
	}






/*
------------------------------------------------------------------------------
Responsive design
------------------------------------------------------------------------------
*/

@media ( max-width: 1200px) {
	.temp2, .flag-game {
		flex-direction: column;
		flex-wrap: nowrap;
		}
	.country-list-container {
		flex-wrap: wrap;
		text-align: center;
		order: 3;
		}
	.country-list {
		font-size: 1.5rem;
		}

	.flag {
		}
	img {
		max-width: 95vw;
		margin-top: 1rem;
		}

	.new-game, .new-game > div > a  {
		order: 20;
		font-size: 2rem;
		text-align: center;
		text-decoration: none;
		transition: all 2s ease-in-out;
		}	
	}
